<section class="container centered">
  <div class="about">
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    {{ with .Site.Params.social }}
      {{ range sort .}}
      <img class="social-icon" src="/images/{{ .name }}.png">
      {{ end }}
    {{ end }}
  </div>
</section>
