@import "colors";
// @import "animations";

.navigation {
    height: 8.0rem;
    padding: 1rem;
    width: 100%;
    color: $accent-color;
    background-color: $darker-bg-color;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);
    a {
        display: inline;
        color: $accent-color;
        font-size: 1.6rem;
        line-height: 6.0rem;
        letter-spacing: 0.1rem;
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            font-size: 1.4rem;
        }
    }
    ul {
        list-style: none;
        margin-bottom: 0;
        margin-top: 0;
        li {
            float: left;
            margin: 0;
            position: relative;
            a {
                margin-left: 1.0rem;
                margin-right: 1.0rem;
            }
        }
    }
}